body,
figure {
  margin: 0;
}

nav,
section,
footer,
figure,
figcaption {
  display: block;
}

h2,
h3,
p,
a,
span,
figure {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: #ff6347;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  padding-top: 46px;
}

h3 {
  color: #062d56;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding-top: 42px;
}

p {
  color: #062d56;
  font-size: 17px;
  letter-spacing: 0.53px;
  line-height: 25px;
  padding-top: 12px;
  width: 742px;
}

input,
button {
  border: 0px solid;
  outline: none;
}

input {
  color: #062d56;
  font-family: Raleway;
}

button {
  background-color: #07b4b9;
  color: #ffffff;
  font-family: Raleway;
  text-align: center;
  cursor: pointer;
}

nav {
  background-color: #fbd561;
  width: 100%;
  height: 91px;
  border-bottom: 1px solid #ffffff;
  position: fixed;
  z-index: 10;
}
nav .logo {
  float: left;
  padding: 22px 38px;
}
nav .sign-up {
  float: right;
  padding-top: 33px;
}
nav .sign-up span {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #062d56;
  font-size: 12.75px;
  letter-spacing: 0.4px;
  line-height: 18.75px;
  width: 125px;
  text-align: center;
  margin-right: 11px;
}
nav .sign-up input,
nav .sign-up button {
  border-radius: 15px;
  height: 30px;
}
nav .sign-up input {
  background-color: #ffffff;
  width: 212px;
  margin-right: 11px;
  padding: 0 12px;
  font-size: 12.75px;
  letter-spacing: 0.53px;
}
nav .sign-up button {
  width: 95px;
  font-size: 12.75px;
  letter-spacing: 0.4px;
  line-height: 18.75px;
}
nav .github {
  float: right;
  width: 90px;
  height: 30px;
  margin: 33px 32px;
}

.github-button {
  visibility: hidden;
}

#introduction {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 767px;
  padding-top: 91px;
  position: relative;
  z-index: 1;
}

#problem {
  background-color: #f8f8f6;
  height: 767px;
}
#problem .problem-explained {
  visibility: hidden;
}
#problem .communication {
  width: 642px;
  height: 148px;
  margin: 40px auto;
}
#problem .communication figure {
  float: left;
}
#problem .communication img {
  display: block;
  float: left;
}
#problem .communication figure.party {
  position: relative;
  z-index: 2;
}
#problem .communication figure.encrypt {
  width: 54px;
  height: 54px;
  background: no-repeat center center;
  margin-top: 23px;
}
#problem .communication figure.encrypt.circle {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}
#problem .communication figure.encrypt.circle.key {
  background-image: url(../img/key.svg);
}
#problem .communication figure.encrypt.msg.key {
  background-image: url(../img/key.svg), url(../img/msg1.svg);
}
#problem .communication figure.encrypt.msg.lock {
  background-image: url(../img/lock.svg), url(../img/msg1.svg);
}
#problem .communication figure.encrypt.left {
  margin-left: -20px;
}
#problem .communication figure.encrypt.right {
  margin-right: -20px;
}
#problem .communication .arrow {
  margin: 40px 10px;
}
#problem .communication .server {
  margin-top: 25px;
}
#problem h2 {
  padding-top: 70px;
}

#solution {
  background-color: #062d56;
  height: 382px;
}
#solution h3 {
  padding-top: 72px;
}
#solution p {
  color: #ffffff;
}
#solution p:first-of-type {
  padding-top: 53px;
}

#example {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 987px;
}

#connection {
  background-color: #f8f8f6;
  height: 924px;
}
#connection figure.section {
  width: 924px;
  margin: 111px auto;
}
#connection figure.section .arrow {
  display: block;
  float: left;
  width: 50px;
  margin: 167px 4px;
}
#connection figure.section .party {
  margin: 60px auto;
}
#connection figure.conn-stage {
  float: left;
}
#connection figure.device {
  background-image: url(../img/iphone.png);
  width: 185px;
  height: 370px;
}

#messaging {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 625px;
}

#chat {
  background-color: #f8f8f6;
  height: 683px;
}
#chat figure.section {
  width: 740px;
  margin-top: 57px;
}
#chat figure.section img {
  display: block;
  float: left;
  margin-right: 6px;
}
#chat figure.section .arrow {
  margin-top: 14px;
}
#chat figure.section .arrow.top {
  margin: 55px 9px 0 9px;
}
#chat figure.section .arrow.bottom {
  margin: -30px 9px 0 9px;
}
#chat figure.section .party {
  float: left;
  margin: 80px 9px;
}
#chat figure.section .chat {
  float: left;
}
#chat figure.section .bob-alice {
  margin-top: 200px;
}

#simplex {
  background-color: #ffffff;
  height: 435px;
}
#simplex h3 {
  padding-top: 63px;
}
#simplex p {
  width: 455px;
}
#simplex section.half {
  width: 50%;
  float: left;
}
#simplex input,
#simplex button {
  border-radius: 20px;
  height: 40px;
}
#simplex .sign-up {
  width: 430px;
  margin: 22px auto;
}
#simplex .sign-up input {
  background-color: #efefea;
  width: 283px;
  margin-right: 10px;
  padding: 0 15px;
  font-size: 17px;
  letter-spacing: 0.53px;
}
#simplex .sign-up button {
  width: 127px;
  font-size: 17px;
  letter-spacing: 0.53px;
}
#simplex #contacts {
  width: 320px;
  margin: 22px auto;
}
#simplex #contacts p {
  text-align: left;
}
#simplex #contacts button {
  width: 100px;
  font-size: 17px;
}
#simplex #contacts a {
  color: #062d56;
  font-size: 17px;
  letter-spacing: 0.53px;
  line-height: 25px;
  text-decoration: none;
}

footer {
  background-color: #f8f8f6;
  height: 197px;
  position: relative;
}
footer .logo {
  position: absolute;
  top: 18px;
  left: 38px;
}
footer .copyright {
  padding-top: 25px;
}
footer .github {
  position: absolute;
  top: 25px;
  right: 38px;
}

/* Alice and Bob figures */
figure.party {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 102px;
  height: 139px;
  background: no-repeat center top;
}
figure.party.small {
  width: 90px;
  height: 118px;
}
figure.party.alice {
  background-image: url(../img/alice.svg);
}
figure.party.alice.small {
  background-image: url(../img/alice-small.svg);
}
figure.party.bob {
  background-image: url(../img/bob.svg);
}
figure.party.bob.small {
  background-image: url(../img/bob-small.svg);
}

@font-face {
  font-family: Raleway;
  src: url(../Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(../Raleway-Bold.ttf);
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
