* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$links-color: #ff6347;
$text-color: #062d56;
$purplish-color: #18132c;
$btns-bg-color: #07b4b9;
$main-font-family: Raleway, Arial, Helvetica, sans-serif;
$code-font: "Courier New", Courier, monospace;

body {
  font-family: $main-font-family;
}

h2,
h3,
p {
  color: $text-color;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  line-height: 30px;
}

a {
  color: $links-color;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  text-decoration: none;
}

input,
button,
span.button {
  border: none;
  outline: none;

  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 25px;
}

input {
  color: $text-color;
  font-family: $main-font-family;
  background-color: #f1f1f1;
  width: 280px;
}

button,
span.button {
  display: inline-block;
  background-color: $btns-bg-color;
  color: white;
  text-align: center;
  cursor: pointer;

  &:active,
  &:hover {
    filter: saturate(125%);
  }
}

// --------------------
// ------ Header ------
// --------------------
header {
  background-color: #fbd561;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav__buttons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;

    .button {
      padding: 0.4rem 1.5rem;
    }
  }

  .logo {
    padding: 0.6rem 0rem;
  }
}

// -----------------------
// ------ Section 3 ------
// -----------------------

#simplex {
  background-color: white;
  padding: 5rem 0rem;

  & > div {
    display: flex;
    justify-content: space-between;
    gap: 8rem;

    .half {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 1050px) {
      & {
        flex-direction: column;
      }
    }
  }

  form.sign-up {
    width: 100%;

    div {
      display: flex;
      gap: 0.5rem;

      @media (max-width: 576px) {
        & {
          flex-direction: column;
          align-items: center;
          width: inherit;
          gap: 1rem;

          input {
            display: block;
            width: inherit;
          }
        }
      }
    }
  }

  #use-simplex {
    a {
      font-weight: 500;
    }
  }

  #contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span.button {
      width: 100px;
    }

    a {
      color: $text-color;
      font-size: 1.1rem;
      letter-spacing: 0.53px;
      line-height: 25px;
    }
  }
}

// -----------------------
// ------ Section 1 ------
// -----------------------

#conn_req {
  position: relative;
  padding: 2rem 0rem;
  overflow: hidden !important;

  h2 {
    text-align: center;
    margin-bottom: 2rem;

    @media (max-width: 576px) {
      & {
        text-align: left;
        margin-bottom: 1rem;
      }
    }
  }

  h2, p {
    text-align: center;
  }

  div.testflight {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .6rem;
    line-height: 32px;
    margin-bottom: 5rem;
    vertical-align: middle;

    a{
      display: inline-flex;
      align-items: center;
    }

    @media (max-width: 576px) {
      & {
        margin-bottom: 1.5rem;
      }
    }

    a {
      font-weight: 500;
    }

    img {
      display: inline;
      vertical-align: middle;
    }
  }

  .conn_req_uri {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1050px) {
      & {
        justify-content: flex-start;
        gap: 10rem;
      }
    }

    @media (max-width: 992px) {
      & {
        justify-content: center;
      }
    }

    & > div,
    .conn_req__qrcode > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;

      @media (max-width: 576px) {
        & {
          width: 100%;
        }
      }
    }

    .conn_req__qrcode > div {
      p {
        padding: 0 2.4rem;
        width: 360px;
        margin-top: 40px;

        @media (max-width: 576px) {
          & {
            padding: 0;
            width: 100%;
            margin-top: 10px;
          }
        }
      }

      .open-in-mobile {
        padding: 0 2.4rem;
        width: 360px;
        margin: 30px 0 20px 0;

        @media (max-width: 576px) {
          & {
            padding: 0;
            width: 100%;
          }
        }
      }
    }

    .open-in-mobile {
      @media (min-width: 992px) {
        & {
          display: none;
        }
      }

      @media (max-width: 576px) {
        & {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & a span {
          padding: 0.8rem 2rem;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
    }

    .conn_req__qrcode {
      position: relative;
      display: flex;

      align-items: center;
      justify-content: flex-start;

      @media (max-width: 576px) {
        & {
          flex: 1;
        }
      }

      & > div {
        z-index: 2;
      }

      img {
        position: absolute;
        width: 460px;
        top: -3rem;
      }
    }

    .content_copy_with_tooltip {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      position: relative;

      .tooltip {
        position: absolute;
        display: inline-block;
        right: -2rem;
        bottom: 0;
      }

      textarea {
        word-break: break-all;
        width: 360px;
        height: 360px;
        resize: none;
        outline: none;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 7px;
        border-color: #ccc;
      }
    }

    canvas {
      width: 100%;
      height: auto;
      margin-top: 20px;

      @media (max-width: 576px) {
        & {
          margin-top: 0px;
          align-self: center;
        }
      }
    }

    a.chat-for-terminal {
      font-weight: 500;
    }
  }
}

// ----------------------------
// ------ Tooltip styles ------
// ----------------------------
#conn_req,
#install_chat {
  .content {
    font-family: $code-font;
    font-size: 1rem;
    color: black;
  }

  .content_copy:hover {
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-family: $main-font-family;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $text-color transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

// -----------------------
// ------ Section 2 ------
// -----------------------

#install_chat {
  background-color: #f8f8f6;
  padding: 4rem 0rem;

  h2, .install__command, .github__redirection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .github__redirection {
    a {
      font-weight: 500;
      color: $text-color;
      letter-spacing: 0.53px;
      text-decoration: underline;

      &.github {
        vertical-align: -5px;
      }
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
  }
}

// --------------------
// ------ Footer ------
// --------------------
footer {
  padding: 1rem 0rem;
  background-color: #f8f8f6;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      & {
        justify-content: center;
      }
    }
  }

  p {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    @media (max-width: 576px) {
      & {
        text-align: center;
      }
    }
  }

  .copyright {
    img {
      width: 22px;
      height: 22px;
    }
  }

  a {
    display: flex;
    align-items: center;
  }
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Bold.woff2);
  font-weight: bold;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 0rem 2rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .d-none-992 {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0rem 1rem;
  }

  .d-none-576 {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .d-none-on-mobile {
    display: none;
  }
}
