body,
figure {
  margin: 0;
}

nav,
section,
footer,
figure,
figcaption {
  display: block;
}

h2,
h3,
h4,
p,
a,
span,
figure {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: #ff6347;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  padding-top: 46px;
}

h3 {
  color: #062d56;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding-top: 42px;
}

h4 {
  color: #18132c;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.4px;
  line-height: 30px;
  width: 180px;
}

p {
  color: #062d56;
  font-size: 17px;
  letter-spacing: 0.53px;
  line-height: 25px;
  padding-top: 24px;
  width: 742px;
}

input,
button {
  border: 0px solid;
  outline: none;
}

input {
  color: #062d56;
  font-family: Raleway;
}

button {
  background-color: #07b4b9;
  color: #ffffff;
  font-family: Raleway;
  text-align: center;
  cursor: pointer;
}

nav {
  background-color: #fbd561;
  width: 100%;
  height: 91px;
  border-bottom: 1px solid #ffffff;
  position: fixed;
  z-index: 10;

  .logo {
    float: left;
    padding: 22px 38px;
  }

  .sign-up {
    float: right;
    padding-top: 33px;

    span {
      font-family: Raleway, Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: #062d56;
      font-size: 12.75px;
      letter-spacing: 0.4px;
      line-height: 18.75px;
      width: 125px;
      text-align: center;
      margin-right: 11px;
    }

    input,
    button {
      border-radius: 15px;
      height: 30px;
    }

    input {
      background-color: #ffffff;
      width: 212px;
      margin-right: 11px;
      padding: 0 12px;
      font-size: 12.75px;
      letter-spacing: 0.53px;
    }

    button {
      width: 95px;
      font-size: 12.75px;
      letter-spacing: 0.4px;
      line-height: 18.75px;
    }
  }

  .github {
    float: right;
    width: 90px;
    height: 30px;
    margin: 33px 32px;
  }
}

.github-button {
  visibility: hidden;
}

#introduction {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 767px;
  padding-top: 91px;
  position: relative;
  z-index: 1;

  figure.section {
    width: 900px;
    height: 288px;
    margin: 70px auto;

    .feature {
      float: left;
      width: 300px;

      p {
        width: 80%;
        padding-top: 12px;
      }

      h4 {
        padding-top: 12px;
      }
    }

    .doodle {
      border-radius: 100%;
      box-sizing: border-box;
      width: 163px;
      height: 163px;
      margin: 0 auto;
      background: no-repeat center center;
      background-clip: content-box;

      &.control {
        background-image: url(../img/control.svg);
      }

      &.privacy {
        background-image: url(../img/privacy.svg);
      }

      &.convenience {
        background-image: url(../img/convenience.svg);
      }
    }
  }
}

#problem {
  background-color: #f8f8f6;
  height: 767px;

  .problem-explained {
    visibility: hidden;
  }

  .communication {
    width: 642px;
    height: 148px;
    margin: 40px auto;

    figure {
      float: left;
    }

    img {
      display: block;
      float: left;
    }

    figure.party {
      position: relative;
      z-index: 2;
    }

    figure.encrypt {
      width: 54px;
      height: 54px;
      background: no-repeat center center;
      margin-top: 23px;

      &.circle {
        background-color: #ffffff;
        border: 1px solid #cdcdcd;
        border-radius: 100%;
        position: relative;
        z-index: 1;

        &.key {
          background-image: url(../img/key.svg);
        }
      }

      &.msg.key {
        background-image: url(../img/key.svg), url(../img/msg1.svg);
      }

      &.msg.lock {
        background-image: url(../img/lock.svg), url(../img/msg1.svg);
      }

      &.left {
        margin-left: -20px;
      }

      &.right {
        margin-right: -20px;
      }
    }

    .arrow {
      margin: 40px 10px;
    }

    .server {
      margin-top: 25px;
    }
  }

  h2 {
    padding-top: 70px;
  }
}

#solution {
  background-color: #062d56;
  height: 382px;

  h3 {
    padding-top: 72px;
  }

  p {
    color: #ffffff;
    padding-top: 12px;

    &:first-of-type {
      padding-top: 53px;
    }
  }
}

#example {
  background-image: url(../img/bg.svg),
    linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  background-size: 800px 800px, auto;
  height: 987px;
}

#connection {
  background-color: #f8f8f6;
  height: 924px;

  figure.section {
    width: 924px;
    margin: 111px auto;

    .arrow {
      display: block;
      float: left;
      width: 50px;
      margin: 167px 4px;
    }

    .party {
      margin: 60px auto;
    }
  }

  figure.conn-stage {
    float: left;
  }

  figure.device {
    background-image: url(../img/iphone.png);
    width: 185px;
    height: 370px;
  }
}

#messaging {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 625px;
}

#chat {
  background-color: #f8f8f6;
  height: 683px;

  figure.section {
    width: 740px;
    margin-top: 57px;

    img {
      display: block;
      float: left;
      margin-right: 6px;
    }

    .arrow {
      margin-top: 14px;
      &.top {
        margin: 55px 9px 0 9px;
      }
      &.bottom {
        margin: -30px 9px 0 9px;
      }
    }

    .party {
      float: left;
      margin: 80px 9px;
    }

    .chat {
      float: left;
    }

    .bob-alice {
      margin-top: 200px;
    }
  }
}

#simplex {
  background-color: #ffffff;
  height: 435px;

  h3 {
    padding-top: 63px;
  }

  p {
    width: 455px;
  }

  section.half {
    width: 50%;
    float: left;
  }

  input,
  button {
    border-radius: 20px;
    height: 40px;
  }

  .sign-up {
    width: 430px;
    margin: 22px auto;

    input {
      background-color: #efefea;
      width: 283px;
      margin-right: 10px;
      padding: 0 15px;
      font-size: 17px;
      letter-spacing: 0.53px;
    }

    button {
      width: 127px;
      font-size: 17px;
      letter-spacing: 0.53px;
    }
  }

  #contacts {
    width: 320px;
    margin: 22px auto;

    p {
      text-align: left;
    }

    button {
      width: 100px;
      font-size: 17px;
    }

    a {
      color: #062d56;
      font-size: 17px;
      letter-spacing: 0.53px;
      line-height: 25px;
      text-decoration: none;
    }
  }
}

footer {
  background-color: #f8f8f6;
  height: 197px;
  position: relative;

  .logo {
    position: absolute;
    top: 18px;
    left: 38px;
  }

  .copyright {
    padding-top: 25px;
  }

  .github {
    position: absolute;
    top: 25px;
    right: 38px;
  }
}

/* Alice and Bob figures */

figure.party {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 102px;
  height: 139px;
  background: no-repeat center top;

  &.small {
    width: 90px;
    height: 118px;
  }

  &.alice {
    background-image: url(../img/alice.svg);
    &.small {
      background-image: url(../img/alice-small.svg);
    }
  }

  &.bob {
    background-image: url(../img/bob.svg);
    &.small {
      background-image: url(../img/bob-small.svg);
    }
  }
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Bold.woff2);
  font-weight: bold;
}
