html,
body,
figure {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

nav,
section,
footer,
figure,
figcaption {
  display: block;
}

h2,
h3,
h4,
p,
a,
span,
figure {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: #ff6347;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  padding-top: 46px;
}

h3 {
  color: #062d56;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding-top: 42px;
}

h4 {
  color: #18132c;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.4px;
  line-height: 30px;
  width: 180px;
}

p {
  color: #062d56;
  font-size: 17px;
  letter-spacing: 0.53px;
  line-height: 25px;
  padding-top: 24px;
  width: 742px;
}

input,
button {
  border: 0px solid;
  outline: none;
}

input {
  color: #062d56;
  font-family: Raleway;
}

button,
span.button {
  display: inline-block;
  background-color: #07b4b9;
  color: white;
  font-family: Raleway;
  text-align: center;
  cursor: pointer;

  &:active {
    filter: saturate(125%);
  }
}

nav {
  background-color: #fbd561;
  width: 100%;
  height: 91px;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 10;

  .logo {
    float: left;
    padding: 22px 38px;
  }

  .sign-up {
    float: right;
    padding-top: 33px;

    span {
      font-family: Raleway, Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: #062d56;
      font-size: 12.75px;
      letter-spacing: 0.4px;
      line-height: 18.75px;
      width: 125px;
      text-align: center;
      margin-right: 11px;
    }

    input,
    button {
      border-radius: 15px;
      height: 30px;
    }

    input {
      background-color: white;
      width: 212px;
      margin-right: 11px;
      padding: 0 12px;
      font-size: 12.75px;
      letter-spacing: 0.53px;
    }

    button {
      width: 95px;
      font-size: 12.75px;
      letter-spacing: 0.4px;
    }
  }

  .github {
    float: right;
    width: 90px;
    height: 30px;
    margin: 33px 32px;
  }
}

.github-button {
  visibility: hidden;
}

#introduction {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 767px;
  position: relative;
  z-index: 1;

  p {
    padding-top: 3px;

    &:first-of-type {
      padding-top: 36px;
    }
  }

  figure.section {
    width: 900px;
    height: 288px;
    margin: 70px auto;

    .feature {
      float: left;
      width: 300px;

      p {
        width: 80%;
        padding-top: 12px;
      }

      h4 {
        padding-top: 12px;
      }
    }

    .doodle {
      border: 4px solid white;
      border-radius: 100%;
      width: 163px;
      height: 163px;
      position: relative;
      margin: 0 auto;
      background: url(../img/doodle.svg);
      background-size: 400px 400px;
      background-clip: content-box;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 7px solid #f8b650;
        border-radius: 100%;
      }

      &.control {
        background-position: 410px 235px;
      }

      &.privacy {
        background-position: 185px 350px;
      }

      &.convenience {
        background-position: 305px 160px;
      }
    }
  }
}

#problem {
  background-color: #f8f8f6;
  height: 767px;

  .explained {
    display: none;
  }

  #problem-explained {
    display: none;

    &:target {
      ~ .intro {
        display: none;
      }

      ~ .explained {
        display: block;
      }

      ~ .pagination .page.intro {
        background-color: #cdcdcd;
      }

      ~ .pagination .page.explained {
        background-color: #3e96fc;
      }
    }
  }

  .pagination {
    width: 44px;
    height: 12px;
    margin: 0 auto;

    .page {
      display: block;
      float: left;
      background-color: #cdcdcd;
      border-radius: 100%;
      width: 14px;
      height: 14px;

      &.intro {
        margin-right: 16px;
        background-color: #3e96fc;
      }
    }
  }

  .problem {
    height: 584px;
  }

  .communication {
    width: 645px;
    height: 148px;
    margin: 40px auto 15px auto;

    figure {
      float: left;
    }

    img {
      display: block;
      float: left;
      margin: 20px -12px;
    }

    figure.party {
      position: relative;
      z-index: 2;
    }
  }

  h2 {
    padding-top: 70px;
  }
}

@supports (background-blend-mode: multiply) and
  (not (-webkit-touch-callout: none)) {
  #solution {
    background-image: url(../img/doodle.svg);
    background-blend-mode: multiply;
  }
}

#solution {
  background-color: #062d56;
  background-size: 800px 800px;
  height: 382px;

  h3 {
    padding-top: 72px;
  }

  p {
    color: white;
    padding-top: 12px;

    &:first-of-type {
      padding-top: 53px;
    }
  }
}

@media (max-width: 1050px) {
  #demo {
    div.all-users {
      width: 874px;

      div.user {
        &.bob,
        &.tom {
          .terminal {
            width: 477px;
          }
        }

        &.bob {
          left: 397px;
        }
      }
    }
  }
}

@media (min-width: 1050px) {
  #demo {
    div.all-users {
      width: 1020px;

      div.user {
        &.bob,
        &.tom {
          .terminal {
            width: 492px;
          }
        }

        &.bob {
          left: 528px;
        }
      }
    }
  }
}

#demo {
  background-image: url(../img/bg.svg),
    linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  background-size: 800px 800px, auto;
  padding-top: 91px;
  height: 987px;

  div.all-users {
    position: relative;
    height: 612px;
    margin: 50px auto;

    .run-demo,
    .run-faster,
    .try-it {
      position: absolute;
      width: 120px;
      height: 60px;
      bottom: 60px;
      border-radius: 30px;
      font-size: 17px;
      letter-spacing: 0.53px;

      &:disabled {
        filter: brightness(75%);
      }
    }

    .run-demo {
      left: 60px;
    }

    .run-faster {
      left: 60px;
      display: none;
    }

    .try-it {
      left: 220px;
    }
  }

  div.user {
    position: absolute;

    h3 {
      position: absolute;
      top: -38px;
      text-align: left;
      padding: 0 0 9px 12px;
      color: #ffffbb;
      mix-blend-mode: difference;
    }

    .terminal {
      position: relative;
      background-color: black;
      border: 1px solid white;
      border-radius: 10px;
      opacity: 0.8;
      box-sizing: border-box;
      padding: 10px 10px;
      color: white;
      overflow-y: hidden;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 20px;
        background: #666 url(../img/topbar.svg) no-repeat 8px center;
        border-radius: 10px 10px 0 0;
        z-index: 2;
      }

      input,
      .input,
      .display {
        font-family: Menlo, "Lucida Console", Monaco, monospace;
        font-size: 14px;
        letter-spacing: 0.27px;
        line-height: 28px;
        position: absolute;
        left: 10px;
        right: 10px;
      }

      input,
      .input {
        color: #efa647;
        display: block;
        height: 30px;
        bottom: 0;
      }

      input {
        background-color: black;
        display: none;
        left: 25px;
        width: calc(100% - 30px);
      }

      .display {
        color: #fbd561;
        text-align: left;
        bottom: 30px;
        z-index: 1;
        overflow-x: hidden;
        word-wrap: break-word;

        div.sent {
          color: #efa647;
          margin-left: 100px;
        }

        div.info {
          color: white;
        }

        div.error {
          color: #ff6347;
        }

        span {
          font-family: Menlo, Monaco, "Lucida Console", monospace;
          text-align: left;
          margin: 0 0;

          &.user {
            color: #3e96fc;
          }

          &.group {
            color: #07b4b9;
          }
        }
      }
    }

    &.alice {
      left: 0;
      top: 68px;

      .terminal {
        width: 503px;
        height: 362px;
      }
    }

    &.bob {
      top: 38px;

      .terminal {
        height: 282px;
      }
    }

    &.tom {
      left: 397px;
      top: 358px;

      .terminal {
        height: 254px;
      }
    }
  }
}

#connection {
  background-color: #f8f8f6;
  height: 924px;

  figure.section {
    width: 924px;
    margin: 90px auto;

    .arrow {
      display: block;
      float: left;
      width: 50px;
      margin: 167px 4px;
    }

    .party {
      margin: 60px auto;
    }
  }

  figure.conn-stage {
    float: left;
  }

  figure.device {
    background-image: url(../img/iphone.png);
    width: 185px;
    height: 370px;

    img {
      padding-top: 50px;
    }
  }
}

#messaging {
  background-image: linear-gradient(180deg, #fbd561 0%, #efa647 100%);
  height: 625px;

  figure.section {
    width: 750px;
    margin: 70px auto;

    figure.party {
      float: left;
      // mix-blend-mode: multiply;
    }

    img {
      float: left;
      display: block;
      margin: 28px 17px 0 25px;
    }
  }
}

#chat {
  background-color: #f8f8f6;
  height: 683px;

  figure.section {
    width: 740px;
    margin-top: 57px;

    img {
      display: block;
      float: left;
      margin-right: 6px;
    }

    .party {
      float: left;
      margin: 80px 9px;
    }
  }
}

#simplex {
  background-color: white;
  height: 435px;

  h3 {
    padding-top: 63px;
  }

  p {
    width: 455px;
  }

  section.half {
    width: 50%;
    float: left;
  }

  input,
  button,
  span.button {
    border-radius: 20px;
    height: 40px;
  }

  .sign-up {
    width: 430px;
    margin: 22px auto;

    input {
      background-color: #efefea;
      width: 283px;
      margin-right: 10px;
      padding: 0 15px;
      font-size: 17px;
      letter-spacing: 0.53px;
    }

    button {
      width: 127px;
      font-size: 17px;
      letter-spacing: 0.53px;
    }
  }

  #contacts {
    width: 320px;
    margin: 22px auto;

    p {
      text-align: left;
    }

    span.button {
      width: 100px;
      font-size: 17px;
      line-height: 40px;
    }

    a {
      color: #062d56;
      font-size: 17px;
      letter-spacing: 0.53px;
      line-height: 25px;
      text-decoration: none;
    }
  }
}

footer {
  background-color: #f8f8f6;
  height: 197px;
  position: relative;

  .logo {
    position: absolute;
    top: 18px;
    left: 38px;
  }

  .copyright {
    padding-top: 25px;
  }

  .github {
    position: absolute;
    top: 25px;
    right: 38px;
  }
}

/* Alice and Bob figures */

figure.party {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 102px;
  height: 139px;
  background: no-repeat center top;

  &.small {
    width: 90px;
    height: 118px;
    background-size: 88px 88px;
  }

  &.alice {
    background-image: url(../img/alice.svg);
  }

  &.bob {
    background-image: url(../img/bob.svg);
  }
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Bold.woff2);
  font-weight: bold;
}
